<div class="page page-card">
  <div class="page-title">
    卡片
    <p>Card</p>
  </div>

  <div class="card">
    <div class="card-header">
      <div class="card-header-inner">这是 Title</div>
      <div class="card-header-extra">this is extra</div>
    </div>
    <div class="card-body">
      <p>这是卡片内容</p>
    </div>
    <div class="card-footer">
      <div class="card-footer-inner">
        这是卡尾
      </div>
    </div>
  </div>

  <div class="card card-full">
    <div class="card-header">
      <div class="card-header-inner">这是 Title</div>
      <div class="card-header-extra">this is extra</div>
    </div>
    <div class="card-body">
      <p>这是卡片内容</p>
    </div>
  </div>
</div>
